<h2>Create a new Music Entry</h2>
<form action='/posts' method='POST'>
    <div class='form-group'>
        <label for="Link">Link to Music:</label>
        <input type="text" id="Link" name="Link" class="form-control" placeholder="link" autocomplete="off"/>
    </div>
    <div class='form-group'>
        <label for="Song">Name of Song:</label>
        <input type="text" id="Song" name="Song" class="form-control" placeholder="song" autocomplete="off"/>
    </div>
    <div class='form-group'>
        <label for="Artist">Artist:</label>
        <input type="text" id="Artist" name="Artist" class="form-control" placeholder="artist" autocomplete="off"/>
    </div>
    <div class='form-group'>
        <label for="Genre">Genres:</label>
        <input type="text" id="Genre" name="Genre" class="form-control" placeholder="Genres (Seperate with Commas)" autocomplete="off"/>
    </div>
    <div class='form-group'>
        <label for="Notes">Notes:</label>
        <input type="text" id="Notes" name="Notes" class="form-control" placeholder="notes"autocomplete="off" />
    </div>
    <div class='form-group'>
        <label for="Author">Who is making the Post?:</label>
        <input type="text" id="Author" name="Author" class="form-control"  placeholder="author"autocomplete="off"/>
    </div>
    
    <input type="submit" class="btn btn-primary" />
    <a href="/posts" class="btn btn-secondary">Cancel</a>
</form>